#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.left-container {
  background-color: lightblue;
  position: fixed;
  left: 10%;
  top: 10%;
  height: 100%;
}

.right-container {
  background-color: lightgray;
  position: fixed;
  right: 5%;
  top: 10%;
  height: 100%;
  width: 75%;
}

.navbar-text {
  all: initial;

  font-family: Arial;
  font-size: 2rem;
  color: #fff;
}

.navbar-text-container {
  padding: 10% 0;
}

.navbar-container {
  padding-top: 20%;
}