main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.link-title {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  font-size: 2.5vw;
}

.link-title:visited {
  color: white;
}

.link-title-text {
  color: black;
}

.left-container {
  background-color: lightgray;
  text-align: center;
  padding: 1rem 1rem;
}

.right-container {
  background-color: lightblack;
  padding: 8rem 8rem;
}

.navbar-text {
  font-size: 1.5rem;
  color: black;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.jsx-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 1rem;
  padding: 3rem 3rem;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.jsx-card-text {
  font-size: 2vw;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
}

.input-box {
  width: 20vw;
  height: 5vh;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-button {
  width: 5vw;
  height: 5vh;
}

.data-container {
  display: flex;
  flex-direction: row;
}

.list-data-container {
  flex: 4;
}

.visual-data-container {
  flex: 1;
}
.visual-data-container h2 {
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;
}
.link-img {
  padding-left: 1vw;
}
