main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.left-container {
  background-color: lightgray;
  text-align: center;
  padding: 1rem 1rem;
}

.right-container {
  background-color: lightblack;
  padding: 5rem 5rem;
}

.navbar-text {
  font-size: 1.5rem;
  color: black;
}